@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
ul {
  list-style: none;
  background-color: pink;
}
ul li {
  display: inline-block;
  width: 0%;
  position: relative;
  font-family: "Share Tech Mono", monospace;
  text-align: center;
  margin-left: 130px;
  font-size: 20px;
  font-family: "Share Tech Mono", monospace;
  text-align: center;
}

/*Index*/
.barra-vertical {
  display: flex;
  grid-area: vertical;
  background-image: linear-gradient(yellow, lightskyblue, pink);
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 35px;
  font-family: "Share Tech Mono", monospace;
  margin: 0px;
}
.barra-vertical .texto-vertical {
  transform: rotate(270deg);
  white-space: nowrap;
}

.nueva-generación {
  grid-area: titulo;
  font-size: 60px;
  font-family: "Share Tech Mono", monospace;
  font-weight: 600;
  height: 10%;
  color: yellow;
  text-align: center;
  text-transform: uppercase;
  animation-duration: 2s;
  animation-name: aparece;
  animation-delay: 4s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes aparece {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.subtitulo {
  grid-area: section;
  font-size: 30px;
  font-family: "Share Tech Mono", monospace;
  font-weight: 600;
  color: white;
  text-align: center;
}

.boton-descubrir {
  grid-area: boton;
  font-size: 30px;
  font-family: "Share Tech Mono", monospace;
  font-weight: 60px;
  background-color: pink;
}

.imagen-portada {
  grid-area: foto;
  background-position: center;
  vertical-align: middle;
}

.barra-abajo {
  grid-area: abajo;
  background-image: linear-gradient(yellow, lightskyblue, pink);
  width: 100%;
  height: auto;
  font-family: "Share Tech Mono", monospace;
  font-size: 35px;
  text-align: center;
  align-items: center;
  width: auto;
  padding: 10px;
}

#grilla {
  display: grid;
  grid-template-areas: "vertical foto titulo" "vertical foto subtitulo" "vertical foto boton" "vertical abajo abajo";
  grid-template-columns: 10% 40% 50%;
  grid-template-rows: auto;
  background-color: lightskyblue;
  margin: 0px;
}

@media only screen and (max-width: 950px) {
  #grilla {
    grid-template-areas: "vertical titulo" "vertical subtitulo" "vertical boton" "vertical foto" "abajo abajo ";
    grid-template-columns: 10% 90%;
    grid-template-rows: 150px 70px 100px 400px 150px;
    background-color: lightskyblue;
    margin: 0px;
  }
  .barra-abajo {
    height: 150px;
  }
}
@media only screen and (max-width: 520px) {
  #grilla {
    grid-template-areas: "vertical titulo" "vertical subtitulo" "vertical boton" "vertical foto" "abajo abajo ";
    grid-template-columns: 10% 90%;
    grid-template-rows: 150px 70px 150px 400px 150px;
    background-color: lightskyblue;
    margin: 0px;
  }
  .imagen-portada {
    align-self: center;
    height: 300px;
    width: auto;
  }
  .barra-abajo {
    height: 150px;
  }
  .nueva-generación {
    grid-area: titulo;
    font-size: 40px;
  }
}
.footer {
  grid-area: footer;
  font-family: "Share Tech Mono", monospace;
  font-size: 20px;
  text-align: center;
  background-color: pink;
  width: 100%;
}

/*Contacto*/
#grilla-contacto {
  display: grid;
  grid-template-areas: "titulo " "formulario" "formulario";
  grid-template-columns: 1fr;
  background-color: lightskyblue;
}

@media only screen and (max-width: 1005px) {
  #grilla-contacto {
    display: grid;
    grid-template-areas: "titulo" "formulario" "pregunta" "foto";
    grid-template-columns: 1fr;
    background-color: lightskyblue;
  }
  .portada-contacto {
    background-color: lightskyblue;
    width: 100%;
    height: auto;
  }
}
@media only screen and (max-width: 650px) {
  #grilla-contacto {
    display: grid;
    grid-template-areas: "titulo" "formulario" "pregunta" "foto";
    grid-template-columns: 1fr;
    background-color: lightskyblue;
  }
  .portada-contacto {
    background-color: lightskyblue;
    width: 100%;
    height: auto;
  }
  .formulario-contacto {
    grid-area: formulario;
    background-color: deeppink;
    font-family: "Share Tech Mono", monospace;
    font-size: 16px;
  }
}
.portada-contacto {
  background-color: lightskyblue;
  width: 100%;
  height: auto;
}

.titulo-contacto.grid {
  grid-area: titulo;
  background-color: lightskyblue;
}

.título-contacto, .titulo-productos, .titulo-descubrir, .título-nosotros {
  font-size: 40px;
  text-align: center;
  margin: 2px;
  color: yellow;
  font-family: "Share Tech Mono", monospace;
  text-transform: uppercase;
  animation-duration: 2s;
  animation-name: aparece;
  animation-delay: 4s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes aparece {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.formulario-contacto {
  grid-area: formulario;
  background-image: linear-gradient(pink, lightskyblue, yellow);
  font-family: "Share Tech Mono", monospace;
  font-size: 16px;
  margin-top: 20px;
  padding: 20px;
}

/*Nosotros*/
#grilla-nosotros {
  display: grid;
  grid-template-areas: "vertical titulo" "vertical parrafo" "vertical foto";
  grid-template-columns: 10% 1fr;
  grid-template-rows: 70px 1fr;
  background-color: lightskyblue;
  margin: 0px;
  text-align: center;
}

.título-nosotros .titulonosotros {
  grid-area: titulo;
}
@keyframes aparece {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.parrafonosotros {
  grid-area: parrafo;
  margin: 50px;
  text-align: justify;
  font-size: 20px;
  font-family: "Share Tech Mono", monospace;
}
.parrafonosotros .parrafo-nosotros {
  grid-area: parrafo;
  width: 100%;
}

.imagen-nosotros {
  grid-area: foto;
  vertical-align: middle;
}

.mapa--red {
  display: inline-block;
  background-color: lightskyblue;
  height: 70px;
  width: 150px;
  border: 1px solid pink;
  text-align: center;
  font-size: 15px;
  color: red;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.mapa--orange {
  display: inline-block;
  background-color: lightskyblue;
  height: 70px;
  width: 150px;
  border: 2px solid pink;
  text-align: center;
  font-size: 15px;
  color: orange;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.mapa--violet {
  display: inline-block;
  background-color: lightskyblue;
  height: 70px;
  width: 150px;
  border: 3px solid pink;
  text-align: center;
  font-size: 15px;
  color: violet;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.mapa--green {
  display: inline-block;
  background-color: lightskyblue;
  height: 70px;
  width: 150px;
  border: 4px solid pink;
  text-align: center;
  font-size: 15px;
  color: green;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.mix1 {
  height: 150px;
  width: 150px;
  background-image: linear-gradient(yellow, lightskyblue, pink);
  display: inline-block;
  border: 2px solid pink;
  text-align: center;
  font-size: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.mix2 {
  height: 150px;
  width: 150px;
  background-image: linear-gradient(yellow, lightskyblue, pink);
  display: inline-block;
  border: 2px solid pink;
  text-align: center;
  font-size: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.mix3 {
  height: 150px;
  width: 150px;
  background-image: linear-gradient(yellow, lightskyblue, pink);
  display: inline-block;
  border: 2px solid pink;
  text-align: center;
  font-size: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.mix4 {
  height: 150px;
  width: 150px;
  background-image: linear-gradient(yellow, lightskyblue, pink);
  display: inline-block;
  border: 2px solid pink;
  text-align: center;
  font-size: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/*Descubrir*/
.titulo-descubrir {
  grid-area: titulo;
}

@keyframes aparece {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.item1 {
  grid-area: item1;
  justify-items: center;
  background-image: linear-gradient(yellow, lightskyblue, pink);
}

.item2 {
  grid-area: item2;
  justify-items: center;
}

.item3 {
  grid-area: item3;
  justify-items: center;
}

.item4 {
  grid-area: item4;
  justify-items: center;
}

#descubrir-grilla {
  display: grid;
  grid-template-areas: "titulo titulo titulo titulo" "item1 item2 item3 item4";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  background-color: lightskyblue;
  grid-gap: 5px;
  min-height: 100vh;
  justify-items: center;
}

@media only screen and (max-width: 1100px) {
  #descubrir-grilla {
    grid-template-areas: "titulo titulo" "item1 item2" "item3 item4";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}
@media only screen and (max-width: 600px) {
  #descubrir-grilla {
    grid-template-areas: "titulo" "item1" "item2" "item3" "item4";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
.titulo-productos {
  grid-area: titulo;
}

@keyframes aparece {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.foto1productos {
  grid-area: foto1;
  justify-items: center;
}

.foto2productos {
  grid-area: foto2;
  justify-items: center;
}

.foto3productos {
  grid-area: foto3;
  justify-items: center;
}

.foto4productos {
  grid-area: foto4;
  justify-items: center;
}

#galeria {
  display: grid;
  grid-template-areas: "titulo titulo titulo titulo" "foto1 foto2 foto3 foto4";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  background-color: lightskyblue;
  grid-gap: 10px;
  min-height: 100vh;
  justify-items: center;
}

@media only screen and (max-width: 1180px) {
  #galeria {
    grid-template-areas: "titulo titulo" "foto1 foto2" "foto3 foto4";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}
@media only screen and (max-width: 620px) {
  #galeria {
    grid-template-areas: "titulo" "foto1" "foto2" "foto3" "foto4";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

/*# sourceMappingURL=estilos.css.map */
